# Default ignored files
.idea
*.aux
*.log
*.out
out
*.iml
acmart.cls
acmart.pdf
acmguide.pdf
samples/sample-*.pdf
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
*.bcf
*.run.xml
samples/ACM-Reference-Format.bst
samples/*.tex
samples/*.bbx
samples/*.cbx
samples/*.dbx
delete